ReservationAPI/Migrations/
ReservationAPI/Logging/

# Database related files.
ReservationAPI/reservation.db
ReservationAPI/reservation.db-shm
ReservationAPI/reservation.db-wal

# Env files
ReservationAPI/.env

# This two folders are recreated when the project is built. 
ReservationAPI/obj/
ReservationAPI/bin/

ReservationAPITests/obj/
ReservationAPITests/TestResults/

ReservationAPITests/bin/*
!bin/*/Logging/